@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --chip-h: 24px;
}

.scroll-thin::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
.scroll-thin::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgb(203 213 225);
}
